<!DOCTYPE html>
<html>

<head>
    <title>{{code}}</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Error: {{code}}</h3>
        <p>{{error}}</p>
    </div>
    
    {{>footer}}
</body>
</html>