<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Obi McDonald-Saint. It uses data from Mapbox.com and Darksky.net.</p>
    <img src="/img/sc-logo.png" class="portrait">
    </div>
    
    {{>footer}}
   
</body>
</html>